.settings
.project
.classpath

target/
target
.cache
*.iml
*.idea
.idea
test-work
nb-configuration.xml

*/target/
*/.settings
*/target
*/.classpath
*/.cache
*/.project
*/*.iml
*/*.idea
*/.idea
*/test-work
*/nb-configuration.xml